nav {
  background-color: #042a2b;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  /* border: 2px solid blue; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.links {
  /* border: 2px solid green; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.link,
.logo {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 36px;
}
