* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  color: black;
}
a {
  text-decoration: none;
}

:root {
  --font-noto: "Noto Sans JP", sans-serif;
  --font-noto-bold: "Noto Sans", sans-serif;
  --font-merriweather: "Merriweather", serif;
  --font-roboto: "Roboto", sans-serif;
}

.hidden {
  display: none;
}
