.all-mayors {
  display: flex;
  justify-content: center;
}

.deblasio-container {
  order: 1;
}

.mayors {
  /* border: 1px solid red; */
  background-color: rgb(242, 242, 242);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.486);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 245px;
  min-height: 245px;
  max-width: 185px;
  min-width: 185px;
  margin: 8px 13px;
  padding: 5px 0;
  font-family: var(--font-noto);
}

.mayor-img {
  border-radius: 50%;
  height: 12vh;
  max-width: 100px;
}

.mayor-name {
  margin-top: 0.5vh;
}

.mayor-title {
  margin-top: 0%;
  font-size: 14px;
}
.mayor-description {
  /* border: 1px solid red; */
  font-size: 10px;
  margin: 0 auto;
  max-width: 170px;
  height: 10vh;
  line-height: 2vh;
  text-align: center;
  margin-top: 0.5vh;
  font-family: var(--font-noto);
}

.mayor-button {
  font-weight: bold;
  background-color: rgba(4, 42, 43, 4.3);
  color: white;
  border: none;
  border-radius: 20px;
  margin: 0 4px;
  font-size: 11px;
  cursor: pointer;
  height: 20px;
  margin-bottom: 5px;
}
