.create-account-container {
  height: 80vh;
  display: flex;
}

.create-account-image {
  background: linear-gradient(
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    url("https://images.unsplash.com/photo-1507234916944-5221978fdf65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")
      no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 50%;
}

.create-account-content {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create-account-content h1 {
  color: #042a2b;
  font-family: var(--font-noto);
  font-weight: 900;
  font-size: 48px;
}
.create-account-content p {
  color: rgb(94, 94, 94);
  font-family: var(--font-noto);
  font-weight: 400;
  margin-left: 5px;
  margin-bottom: 40px;
}

.create-account-form {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  color: #042a2b;
  font-family: var(--font-noto);
  font-size: 12px;
  font-weight: 400;
  max-width: 700px;
}

.create-account-form input {
  border-radius: 5px;
  border: 1px solid rgba(94, 94, 94, 0.25);
  padding: 5px;
  font-family: var(--font-merriweather);
  color: rgb(94, 94, 94);
  margin-bottom: 20px;
}

.create-account-form select {
  width: 30%;
  border-radius: 5px;
  border: 1px solid rgba(94, 94, 94, 0.25);
  padding: 5px;
}

.create-account-name,
.create-account-address {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
}
.create-account-alignment {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;

  width: 45%;
}
.create-account-firstname input {
  width: 100%;
}

.create-account-form a {
  margin: 30px auto 0 auto;
  width: 80%;
}

.create-account-submit {
  padding: 15px;
  width: 100%;
  color: white;
  background-color: #042a2b;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 3px 5px 0.15px rgba(0, 0, 0, 0.15);
  font-family: var(--font-noto);
  font-weight: 800;
}

.create-account-login {
  font-size: 10px;
  width: 100%;
  text-align: center;
}

.create-account-login span {
  text-decoration: underline solid #042a2b;
  color: #042a2b;
  font-weight: 800;
}

.terms-conditions {
  /* border: 2px solid red; */
  font-family: var(--font-noto);
  color: rgba(94, 94, 94, 0.75);
}
.terms-conditions input {
  margin: auto 10px;
}
.terms-conditions span {
  color: rgba(0, 0, 255, 0.75);
  text-decoration: underline solid rgba(0, 0, 255, 0.75);
  font-weight: 800;
}

@media (max-width: 900px) {
  .create-account-image {
    display: none;
  }
  .create-account-content {
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
  }
  .create-account-name,
  .create-account-address {
    flex-direction: column;
  }
}
