footer {
  background-color: #042a2b;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.logo-footer {
  font-family: var(--font-noto);
  font-weight: 700;
  letter-spacing: -1px;
  text-decoration: none;
  color: white;
  font-size: 24px;
}
.logo-container {
  /* border: 2px solid yellow; */
  width: 10%;
  justify-content: center;
  text-align: center;
}
