footer {
  background-color: #042a2b;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.sign-in-footer {
  z-index: 1000;
  position: absolute;
  bottom: 3vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-footer {
  font-family: var(--font-noto);
  font-weight: 700;
  letter-spacing: -1px;
  text-decoration: none;
  color: white;
  font-size: 24px;
}
.logo-container {
  width: 10%;
  justify-content: center;
  text-align: center;
}
