body {
  height: 100vh;
}
.page-container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.gov-title {
  text-align: center;
  color: rgba(4, 42, 43, 4.3);
  font-family: var(--font-noto);
  font-weight: 900;
  margin: 2vh;
}

.gov-form {
  /* border: 1px solid red; */
  text-align: center;
}
.gov-search {
  border: 1px solid grey;
  text-align: center;
  border-radius: 4px;
  max-height: 45px;
  min-height: 45px;
  max-width: 504px;
  min-width: 504px;
}

.gov-button-container {
  /* border: 1px solid green; */
  display: flex;
  flex-flow: row wrap;
  width: 60vw;
  justify-content: center;
  margin: 0 auto;
  max-width: 560px;
  min-width: 560px;
  max-height: 97px;
  min-height: 97px;
}

.gov-button {
  font-weight: bold;
  background-color: rgba(4, 42, 43, 4.3);
  color: white;
  border: none;
  border-radius: 20px;
  max-width: 105px;
  min-width: 105px;
  height: 37px;
  margin: 1vh 2vw;
  cursor: pointer;
}

.rep-container {
  display: flex;
  justify-content: center;
  height: 35vh;
  background-color: rgb(173, 186, 183);
  margin-top: 5vh;
}
.rep {
  display: flex;
  width: 45vw;
  background-color: white;
  margin: 3vh 30px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.486);
  max-width: 562px;
  background-color: rgb(242, 242, 242);
}
.rep1 {
  /* border: 1px solid yellow; */
  font-family: var(--font-noto);
}
.info-container {
  /* border: 1px solid red; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 5px;
  font-size: 14px;
}
.rep-img {
  border-radius: 50%;
  height: 13vh;
  margin-left: 1vw;
}
.rep-description {
  /* border: 1px solid black; */
  text-align: center;
  width: 88vw;
  line-height: 3vh;
  padding: 5px;
  font-size: 12px;
  margin: auto 0;
}
.district {
  font-size: 13px;
}
.rep-button {
  font-weight: bold;
  background-color: rgba(4, 42, 43, 4.3);
  color: white;
  border: none;
  border-radius: 20px;
  margin: 0 4px;
  font-size: 11px;
  cursor: pointer;
}
.rep2 {
  /* border: 1px solid blue; */
  font-family: var(--font-noto);
}

.mayor {
  /* display: flex; */
  /* flex-direction: row; */
  /* border: 1px solid black; */
  height: 35vh;
}
