.announcement {
  border: 2px solid blue;
  display: flex;
}

.announcement-image {
  border: 2px solid red;
  width: 100%;
  height: 50%;
}

.announcement-card {
  border: 2px solid orange;
  width: 100%;
}
