.business-top-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1% 5%;
}
.business-top-text a {
  color: #042a2b;
}

.business-top-text h5 {
  color: gray;
}

.business-to-home {
  display: flex;
  flex-direction: row;
}

.business-to-home a {
  color: #042a2b;
}

.left-arrow-business {
  display: flex;
  width: 20px;
  height: auto;
}

.title-business {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
  margin-bottom: 5%;
}

.business-title {
  font-family: var(--font-noto);
  font-weight: bolder;
  font-size: 48px;
  color: #042a2b;
  margin-bottom: 1%;
}

.search-business {
  color: #042a2b;
  font-weight: bold;
  border: 0.5px solid #042a2b;
  border-radius: 3px;
  padding: 5px 10%;
  box-shadow: 0px 3px 5px 0.15px rgba(0, 0, 0, 0.15);
  min-width: 20vw;
  text-align: left;
  background: url("../../assets/icons/search.svg") no-repeat;
  background-size: 5%;
  background-position: bottom 50% left 4%;
  background-color: white;
  margin-right: -0.2em;
}

.business-button {
  background-color: #042a2b;
  color: #ffffff;
  padding: 0.35em 1.2em;
  border: 0.1em solid #042a2b;
  box-sizing: border-box;
  margin-bottom: 0.1em;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  width: 100px;
  transition: all 0.1s;
  height: 27px;
}

.business-button:hover {
  color: #042a2b;
  background-color: #ffffff;
  cursor: pointer;
}

.business-search-container {
  display: flex;
  flex-direction: row;
}

.business-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
}

.popular {
  display: flex;
  flex-direction: row;
}

.business-title-popular {
  font-size: 40px;
  color: #042a2b;
  margin-bottom: 1%;
  font-family: var(--font-noto);
  font-weight: bolder;
  margin-left: 5%;
}

.popular-container {
  display: flex;
  flex-direction: column;
  background-color: #d6e1e8;
  border-radius: 5%;
  width: 30vw;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  border-radius: 5px;
  padding: 2%;
  font-family: "Merriweather", sans-serif;
}

.popular-image {
  display: flex;
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 5%;
  margin-bottom: 3px;
}

.popular-name-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1%;
}

.popular-name {
  font-size: 120%;
  letter-spacing: 1px;
  color: #042a2b;
}

.popular-icons {
  display: flex;
  justify-content: space-around;
}

.email-icon {
  margin-right: 1px;
}

.phone-icon {
  margin-left: 1px;
}

.popular-first-line {
  font-size: 14px;
  color: #042a2b;
  margin: 10px 0;
}

.popular-second-line {
  color: gray;
  font-size: 12px;
  margin-bottom: 10px;
}

.see-more-button {
  background-color: #ffffff;
  color: #042a2b;
  padding: 0.35em 1.2em;
  border: 0.1em solid #042a2b;
  box-sizing: border-box;
  border-radius: 3px;
  font-weight: bold;
  width: 50%;
  transition: all 0.1s;
  height: auto;
  margin: 2% auto;
}

.see-more-button:hover {
  color: #ffffff;
  background-color: #042a2b;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .business-button-container {
    flex-direction: column;
    align-items: center;
  }

  .popular {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .email-icon {
    width: 75%;
    height: auto;
  }

  .phone-icon {
    width: 75%;
    height: auto;
  }
}
